@media print {
    #sidebar-container, #header-container, .print\:hidden {
        display: none !important;
    }
    #main-view {
        padding: 0;
        margin: 0;
    }
    #slip-area {
        box-shadow: none;
        max-width: 100%;
        width: 100%;
    }
    body {
        background: white;
    }
}

/* Custom Scrollbar for Sidebar */
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}
